Software/flows.json
[
    {
        "id": "7c45b39da721d99e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6bfee2d6211a1532",
        "type": "websocket-listener",
        "path": "/ws",
        "wholemsg": "false"
    },
    {
        "id": "494e3f733014ce80",
        "type": "uibuilder",
        "z": "7c45b39da721d99e",
        "name": "",
        "topic": "",
        "url": "cart",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "6.4.1",
        "showMsgUib": false,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "6f1db3a899a796bf",
                "606943c66937da02"
            ],
            []
        ]
    },
    {
        "id": "1b68947c0ec4c6ba",
        "type": "websocket in",
        "z": "7c45b39da721d99e",
        "name": "",
        "server": "6bfee2d6211a1532",
        "client": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "1005b1ea8109025d",
                "1466f04789862ee8",
                "7bbd51901c4dd790"
            ]
        ]
    },
    {
        "id": "1005b1ea8109025d",
        "type": "debug",
        "z": "7c45b39da721d99e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f1db3a899a796bf",
        "type": "debug",
        "z": "7c45b39da721d99e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "c994d0f4f1285514",
        "type": "uibuilder",
        "z": "7c45b39da721d99e",
        "name": "",
        "topic": "",
        "url": "products",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "6.4.1",
        "showMsgUib": false,
        "x": 150,
        "y": 460,
        "wires": [
            [],
            [
                "a075141ecca43c33"
            ]
        ]
    },
    {
        "id": "1466f04789862ee8",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "addItem",
        "func": "const receivedData = JSON.parse(msg.payload)\nconst products = global.get(\"products\")\nconst cart = global.get(\"cart\") || []\n\nif (receivedData.command == \"addItem\") {\n    msg.topic = \"cartItems\"\n    let item = products.find(_item => _item.rfid == receivedData.rfid)\n    let isAlreadyAdded = item && cart.find(_item => _item.rfid == receivedData.rfid)\n    if (item && !isAlreadyAdded)\n        cart.push(item)\n    \n    global.set(\"cart\", cart)\n    msg.payload = cart\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "2332dac187df8489",
                "c321429bbe075e30"
            ]
        ]
    },
    {
        "id": "2332dac187df8489",
        "type": "debug",
        "z": "7c45b39da721d99e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "c321429bbe075e30",
        "type": "uib-sender",
        "z": "7c45b39da721d99e",
        "url": "cart",
        "uibId": "494e3f733014ce80",
        "name": "",
        "topic": "",
        "passthrough": false,
        "return": false,
        "outputs": 0,
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "bf8965a4a2f8f3bd",
        "type": "inject",
        "z": "7c45b39da721d99e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "e0ae13b75beaacbc"
            ]
        ]
    },
    {
        "id": "e0ae13b75beaacbc",
        "type": "file in",
        "z": "7c45b39da721d99e",
        "name": "",
        "filename": "products.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 270,
        "y": 580,
        "wires": [
            [
                "2b31c6cfa7cc4755"
            ]
        ]
    },
    {
        "id": "f8ae6ca3134b7d55",
        "type": "debug",
        "z": "7c45b39da721d99e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "2b31c6cfa7cc4755",
        "type": "json",
        "z": "7c45b39da721d99e",
        "name": "json to js object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 440,
        "y": 580,
        "wires": [
            [
                "2a3114d436b4519b"
            ]
        ]
    },
    {
        "id": "2a3114d436b4519b",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "Save",
        "func": "global.set(\"products\", msg.payload)\nglobal.set(\"cart\", [])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 580,
        "wires": [
            [
                "f8ae6ca3134b7d55"
            ]
        ]
    },
    {
        "id": "75a4e685ca961d0c",
        "type": "debug",
        "z": "7c45b39da721d99e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "a075141ecca43c33",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "function 1",
        "func": "const products = global.get(\"products\")\n\nreturn {\n    payload: products,\n    topic: \"products\"\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 480,
        "wires": [
            [
                "ebdd2991d14c36fb"
            ]
        ]
    },
    {
        "id": "ebdd2991d14c36fb",
        "type": "uib-sender",
        "z": "7c45b39da721d99e",
        "url": "products",
        "uibId": "c994d0f4f1285514",
        "name": "",
        "topic": "",
        "passthrough": false,
        "return": false,
        "outputs": 0,
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "606943c66937da02",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "function 2",
        "func": "if (msg.topic == \"cartItems\") {\n    const products = global.get(\"cart\")\n\n    return {\n        payload: products,\n        topic: \"cartItems\"\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "c321429bbe075e30"
            ]
        ]
    },
    {
        "id": "7bbd51901c4dd790",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "removeItem",
        "func": "const receivedData = JSON.parse(msg.payload)\nconst products = global.get(\"products\")\nconst cart = global.get(\"cart\") || []\n\nif (receivedData.command == \"removeItem\") {\n    msg.topic = \"cartItems\"\n    let isAlreadyAdded = cart.find(_item => _item.rfid == receivedData.rfid)\n    if (isAlreadyAdded) {\n        const indexToRemove = cart.findIndex(_item => _item.rfid == receivedData.rfid);\n        cart.splice(indexToRemove, 1);\n        global.set(\"cart\", cart)\n    }\n    msg.payload = cart\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 180,
        "wires": [
            [
                "c321429bbe075e30"
            ]
        ]
    }
]