Software/flows.json
[
    {
        "id": "7c45b39da721d99e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6bfee2d6211a1532",
        "type": "websocket-listener",
        "path": "/ws",
        "wholemsg": "false"
    },
    {
        "id": "494e3f733014ce80",
        "type": "uibuilder",
        "z": "7c45b39da721d99e",
        "name": "",
        "topic": "",
        "url": "cart",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "6.4.1",
        "showMsgUib": false,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "606943c66937da02",
                "04a18f6277e2832c"
            ],
            []
        ]
    },
    {
        "id": "1b68947c0ec4c6ba",
        "type": "websocket in",
        "z": "7c45b39da721d99e",
        "name": "",
        "server": "6bfee2d6211a1532",
        "client": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "1466f04789862ee8",
                "7bbd51901c4dd790",
                "e16a3f25c7e01b24",
                "f603aa0bc5b06b03"
            ]
        ]
    },
    {
        "id": "c994d0f4f1285514",
        "type": "uibuilder",
        "z": "7c45b39da721d99e",
        "name": "",
        "topic": "",
        "url": "products",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "6.4.1",
        "showMsgUib": false,
        "x": 110,
        "y": 300,
        "wires": [
            [],
            [
                "a075141ecca43c33"
            ]
        ]
    },
    {
        "id": "1466f04789862ee8",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "addItem",
        "func": "const receivedData = JSON.parse(msg.payload)\nconst products = global.get(\"products\")\nconst cart = global.get(\"cart\") || []\n\nif (receivedData.command == \"addItem\") {\n    let item = products.find(_item => _item.rfid == receivedData.rfid)\n    let isAlreadyAdded = item && cart.find(_item => _item.rfid == receivedData.rfid)\n    if (item && !isAlreadyAdded) {\n        cart.push(item)\n        global.set(\"cart\", cart)\n\n        msg.topic = \"cartItems\"\n        msg.payload = cart\n    } else {\n        msg.topic = \"cartWarning\"\n        msg.payload = \"Item already added to cart\"\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "c321429bbe075e30",
                "25b060df9bd3bfa4"
            ]
        ]
    },
    {
        "id": "c321429bbe075e30",
        "type": "uib-sender",
        "z": "7c45b39da721d99e",
        "url": "cart",
        "uibId": "494e3f733014ce80",
        "name": "",
        "topic": "",
        "passthrough": false,
        "return": false,
        "outputs": 0,
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf8965a4a2f8f3bd",
        "type": "inject",
        "z": "7c45b39da721d99e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "e0ae13b75beaacbc"
            ]
        ]
    },
    {
        "id": "e0ae13b75beaacbc",
        "type": "file in",
        "z": "7c45b39da721d99e",
        "name": "",
        "filename": "products.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "2b31c6cfa7cc4755"
            ]
        ]
    },
    {
        "id": "f8ae6ca3134b7d55",
        "type": "debug",
        "z": "7c45b39da721d99e",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "2b31c6cfa7cc4755",
        "type": "json",
        "z": "7c45b39da721d99e",
        "name": "json to js object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "2a3114d436b4519b"
            ]
        ]
    },
    {
        "id": "2a3114d436b4519b",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "Save",
        "func": "global.set(\"products\", msg.payload)\nglobal.set(\"cart\", [])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "f8ae6ca3134b7d55"
            ]
        ]
    },
    {
        "id": "a075141ecca43c33",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "function 1",
        "func": "const products = global.get(\"products\")\n\nreturn {\n    payload: products,\n    topic: \"products\"\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 300,
        "wires": [
            [
                "ebdd2991d14c36fb"
            ]
        ]
    },
    {
        "id": "ebdd2991d14c36fb",
        "type": "uib-sender",
        "z": "7c45b39da721d99e",
        "url": "products",
        "uibId": "c994d0f4f1285514",
        "name": "",
        "topic": "",
        "passthrough": false,
        "return": false,
        "outputs": 0,
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "606943c66937da02",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "Initial Fetch Cart",
        "func": "if (msg.topic == \"cartItems\") {\n    const products = global.get(\"cart\")\n\n    return {\n        payload: products,\n        topic: \"cartItems\"\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 200,
        "wires": [
            [
                "c321429bbe075e30"
            ]
        ]
    },
    {
        "id": "7bbd51901c4dd790",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "removeItem",
        "func": "const receivedData = JSON.parse(msg.payload)\nconst products = global.get(\"products\")\nconst cart = global.get(\"cart\") || []\n\nif (receivedData.command == \"removeItem\") {\n    let isAlreadyAdded = cart.find(_item => _item.rfid == receivedData.rfid)\n    if (isAlreadyAdded) {\n        const indexToRemove = cart.findIndex(_item => _item.rfid == receivedData.rfid);\n        cart.splice(indexToRemove, 1);\n        global.set(\"cart\", cart)\n        msg.topic = \"cartItems\"\n        msg.payload = cart\n    } else {\n        msg.topic = \"cartWarning\"\n        msg.payload = \"Item not found in your cart\"\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 120,
        "wires": [
            [
                "c321429bbe075e30",
                "25b060df9bd3bfa4"
            ]
        ]
    },
    {
        "id": "e16a3f25c7e01b24",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "connected",
        "func": "const receivedData = JSON.parse(msg.payload)\n\nif (receivedData.command == \"addItem\") {\n    global.set('websocketId', msg._session.id)\n}\n\nconst cart = global.get(\"cart\") || []\nvar total = 0\ncart.forEach(function (product) {\n    total += product.price\n});\nmsg.payload = {\n    command: 'cartUpdate',\n    items: cart.length,\n    total: total\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 40,
        "wires": [
            [
                "4881adc4632dcae6"
            ]
        ]
    },
    {
        "id": "25b060df9bd3bfa4",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "total",
        "func": "if (msg.topic != 'cartWarning') {\n    var total = 0\n    msg.payload.forEach(function (product) {\n        total += product.price\n    });\n    msg.payload = {\n        command: 'cartUpdate',\n        items: msg.payload.length,\n        total: total\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 100,
        "wires": [
            [
                "4881adc4632dcae6"
            ]
        ]
    },
    {
        "id": "4881adc4632dcae6",
        "type": "websocket out",
        "z": "7c45b39da721d99e",
        "name": "",
        "server": "6bfee2d6211a1532",
        "client": "",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "09bbb4838ed690d3",
        "type": "debug",
        "z": "7c45b39da721d99e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "04a18f6277e2832c",
        "type": "function",
        "z": "7c45b39da721d99e",
        "name": "clearCart",
        "func": "if (msg.topic == \"clearCart\") {\n    global.set(\"cart\", [])\n\n    node.send([{\n        payload: \"Cart cleared\",\n        topic: \"clearCart\"\n    }, null])\n    \n    node.send([{\n        payload: [],\n        topic: \"cartItems\"\n    }, {\n        payload: {\n            command: 'cartUpdate',\n            items: 0,\n            total: 0\n        },\n        _session: {\n            id: global.get('websocketId')\n        }\n    }])\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 240,
        "wires": [
            [
                "c321429bbe075e30"
            ],
            [
                "4881adc4632dcae6"
            ]
        ]
    },
    {
        "id": "f603aa0bc5b06b03",
        "type": "debug",
        "z": "7c45b39da721d99e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 20,
        "wires": []
    }
]